<footer class="footer" >
    <div class="container">
        <div class="row ">             
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
                <ul class ="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="./aboutus.html">About</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="./contactus.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Our Address</h5>
                <address>
                    Near Chaukori, Berinag<br>
                    Pithoragarh <br>
                    Uttrakhand<br>
                    <i class="fa fa-phone fa-lg"></i>: +91 12345678<br>
                    <i class="fa fa-fax fa-lg"></i>: +91 87654321<br>
                    <i class="fa fa-envelope fa-lg"></i>: <a href="PanchachuliView@gmail.com">PanchachuliView@gmail.com</a>
                 </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center">
                <div class="text-center">
                    
                    <a  href="http://google.com/+"><mdb-icon fab icon="google-plus" size="lg"></mdb-icon></a>
                                       <a class="px-2 icons-sm li-ic"><mdb-icon fab icon="linkedin-in" size="lg"></mdb-icon></a>
                    <a  href="http://twitter.com/"><mdb-icon fab icon="twitter" size="lg"></mdb-icon></a>
                    
                </div>
            </div>
       </div>
      
    </div>
</footer>