<app-header></app-header>
<div class="row contain">
    <div class="center">
    <h3 >A Restaurent In The Lap Of Mother Nature!</h3>
    </div>
    <div class="row">
        
        <div class = "row scene">
            <div class="col-md-4 dish">
                <mdb-card cascade="true" narrow="true">
                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets/img/113074280.jpg"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                  
                </mdb-card>
            </div>
            <div class="col-md-4 dish">
                <mdb-card cascade="true" narrow="true">
                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets/img/240701271.jpg"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    
                </mdb-card>
            </div>
            <div class="col-md-4 dish">
                <mdb-card cascade="true" narrow="true">
                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets/img/view-from-restaurant.jpg"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    
                </mdb-card>
            </div>
            
        </div>
    </div>
    
</div>

<app-footer></app-footer>