$background-light: #9575CD;

.logbtn{
    float: right;
}
.row-login{
   
    padding: 80px 80px;
    background-blend-mode: darken;
    background:#659DBD;
   

   
    
}
.mdb-card{
    opacity: 0.5;
   
}

