<app-header></app-header>
<div class = "row">
<div class="col-md-4 dish">
    <mdb-card cascade="true" narrow="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/img/baadi.jpg"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text"></h5>
              
            <!--Title-->
            <h4 class="card-title">Baadi</h4>
            <!--Text-->
    
            <mdb-card-text>
                Baadi is a famous Uttarakhand food that has mesmerised the locals and tourists since a long time, mainly by its lingering aroma and tangy taste.  This dish is as simple as the people of Uttarakhand. It is bequeathed with all the essential nutrients that are hard to find in one dish altogether. It is abundant in Vitamin B12 and Vitamin A among others. What more can we ask for, when we get nutrients and taste in a single delicacy!
            </mdb-card-text>
    
    
          </mdb-card-body>  
    </mdb-card>
</div>
<div class="col-md-4 dish">
    <mdb-card cascade="true" narrow="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/img/Kafuli.jpg"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text"></h5>
              
            <!--Title-->
            <h4 class="card-title">Kafuli</h4>
            <!--Text-->
    
            <mdb-card-text>
                This dish is a boon for all the diet-conscious people out there. Yes, it is actually that nutritious. Kafuli is a famoufs food of Uttarakhand that all locals swear by. It is basically primarily prepared of Spinach and fenugreek leaves, which even the doctors, prescribe. It is an exotic dish, prepared in an iron kadhai, and complemented by hot steaming rice. It is the most nourishing and health-conscious dish you will come across in the State.
            </mdb-card-text>
    
    
          </mdb-card-body>  
    </mdb-card>
</div>
<div class="col-md-4 dish">
    <mdb-card cascade="true" narrow="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/img/bhaang-ki-chutney.jpg"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text"></h5>
              
            <!--Title-->
            <h4 class="card-title">bhaang ki chutney</h4>
            <!--Text-->
    
            <mdb-card-text>
                We are not kidding! There is chutney made in Uttarakhand that is actually bhang ki chutney. It simply enhances the taste of every other cuisine and its fresh aroma and tangy taste will linger in your mouth long after you have consumed it. It is basically prepared of Hemp Seeds which provides it the characteristic aroma. Already feel your mouth-watering?
            </mdb-card-text>
    
    
          </mdb-card-body>  
    </mdb-card>
</div>


<div class = "row">
<div class="col-md-4 dish">
    <mdb-card cascade="true" narrow="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/img/garhwal-fa-fannah.jpg"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text"></h5>
              
            <!--Title-->
            <h4 class="card-title">Garhwal ka Fannah</h4>
            <!--Text-->
    
            <mdb-card-text>
                This heavenly Uttarakhand food is a staple of Mussoorie and is good enough to satiate both your eyes and stomach. It happens to be one of those dishes that will simply leave you craving for more. Since it is so divine in its taste and aroma, Garhwal Ka Fannah has become a must food item in the menu card for every occasion that takes place in Uttarakhand.
            </mdb-card-text>
    
    
          </mdb-card-body>  
    </mdb-card>
</div>
<div class="col-md-4 dish">
    <mdb-card cascade="true" narrow="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/img/phaanu.jpg"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text"></h5>
              
            <!--Title-->
            <h4 class="card-title">Phaanu</h4>
            <!--Text-->
    
            <mdb-card-text>
                Phaanu is a dish which is famous mostly in the Garhwal region of Uttarakhand. It is rather complicated to prepare since it is made by mixing lentils of different varieties that are soaked in water overnight. It is a kind of soupy dish, served mostly wish rice. The unique flavour of Phaanu will definitely be a treat for your taste buds!
            </mdb-card-text>
    
    
          </mdb-card-body>  
    </mdb-card>
</div>
<div class="col-md-4 dish">
    <mdb-card cascade="true" narrow="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/img/kandalee-ka-saag.jpg"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text"></h5>
              
            <!--Title-->
            <h4 class="card-title">Kandalee Ka Saag</h4>
            <!--Text-->
    
            <mdb-card-text>
                This food of Uttarakhand which is highly popular among the visitors and tourists is none other than the Kandalee Ka Saag. It is a green leafy vegetable prepared in an ordinary way like all the other vegetables, but the leafy vegetable called “<b>Bicchu Ghas</b>” is what makes it different. Like all other dishes of Uttarakhand, this too is rich in nutrients.
            </mdb-card-text>
    
    
          </mdb-card-body>  
    </mdb-card>
</div>


</div>

</div>

<div class = "row">
    <div class="col-md-4 dish">
        <mdb-card cascade="true" narrow="true">
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="assets/img/chainsoo.jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text"></h5>
                  
                <!--Title-->
                <h4 class="card-title">Chainsoo</h4>
                <!--Text-->
        
                <mdb-card-text>
                    If you have been to Uttarakhand you might have heard of Chainsoo at some place or the other. It is a very famous Garhwal dish which is made of Urad or Kali Dal and thus consists of a lot of protein. Many people find it hard to digest, but this dish has a totally earthy flavour which is definitely worth trying. It is tasty enough to give a tough competition to Punjabi’s Maa Ki Dal!
                </mdb-card-text>
        
        
              </mdb-card-body>  
        </mdb-card>
    </div>
    <div class="col-md-4 dish">
        <mdb-card cascade="true" narrow="true">
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="assets/img/kumaoni-raita.jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text"></h5>
                  
                <!--Title-->
                <h4 class="card-title">Kumaoni Raita</h4>
                <!--Text-->
        
                <mdb-card-text>
                    Like the Bhang ki Chutney, Kumaoni Raita is yet another dish that accompanies every other cuisine of Uttrakhand. The locals of this state can’t do without Kumaoni Raita which is prepared from curd, turmeric, and cucumber. The goodness of cucumber is an asset for your system, but the heavenly taste beats it all.
                </mdb-card-text>
        
        
              </mdb-card-body>  
        </mdb-card>
    </div>
    <div class="col-md-4 dish">
        <mdb-card cascade="true" narrow="true">
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="assets/img/dubuk.jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text"></h5>
                  
                <!--Title-->
                <h4 class="card-title">Dubuk</h4>
                <!--Text-->
        
                <mdb-card-text>
                    Touted as one of the best dishes of Uttarakhand, Dubuk makes the people a fan by its indescribable taste.  It is a preparation of Dal and is best served with rice. You might think what’s so special about a normal delicacy prepared of Dal. Well, Dubuk is here to change your perception. Though the suitable time to eat Dubuk is during winters, but who can stop you from savouring it all throughout the year.
                </mdb-card-text>
        
        
              </mdb-card-body>  
        </mdb-card>
    </div>

    <div class = "row">
        <div class="col-md-4 dish">
            <mdb-card cascade="true" narrow="true">
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/jhangora-ki-kheer.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h5 class="pink-text"></h5>
                      
                    <!--Title-->
                    <h4 class="card-title">Jhangora Ki Kheer</h4>
                    <!--Text-->
            
                    <mdb-card-text>
                        When talking about delicacies how can we not mention the <b>desserts!</b> This is one famous sweet dish of Uttarakhand. Jhangora is basically a type of millet which is the main ingredient of this dessert. Jhangor Ki Kheer has an unforgettable taste and is a must-try after a heavy meal of the Garhwali cuisines. Its rich texture and the goodness of milk will leave you asking for more.
                    </mdb-card-text>
            
            
                  </mdb-card-body>  
            </mdb-card>
        </div>
        <div class="col-md-4 dish">
            <mdb-card cascade="true" narrow="true">
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/gulgula.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h5 class="pink-text"></h5>
                      
                    <!--Title-->
                    <h4 class="card-title">Gulgula</h4>
                    <!--Text-->
            
                    <mdb-card-text>
                        It is a sweet local snack made of jaggery which traces its origin to the Garhwal region. This is a very common dish you will find in the State since it uses extremely basic ingredients that are available in the immediate vicinity of the local people. Gulgula has eventually found its place in the delicious desserts in many parts of Northern India.
                    </mdb-card-text>
            
            
                  </mdb-card-body>  
            </mdb-card>
        </div>
        <div class="col-md-4 dish">
            <mdb-card cascade="true" narrow="true">
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="assets/img/Singori.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h5 class="pink-text"></h5>
                      
                    <!--Title-->
                    <h4 class="card-title">Singori</h4>
                    <!--Text-->
            
                    <mdb-card-text>
                        Singori also called Singodi / Singauri is a widely known sweet dish in Uttarakhand that’s made with Khoa, a dairy product of thickened milk which is wrapped in a Maalu leaf. It is a cone-shaped sweet savoury that’s available in Almora the Kumaon region of Uttarakhand.
                    </mdb-card-text>
            
            
                  </mdb-card-body>  
            </mdb-card>
        </div>
    
    </div>
</div>
<app-footer></app-footer>