

<!--/.Navbar-->
<header class = "jumbotron">
    <div class="container">
        <div class ="row row-header">
            <div class="col-12 col-sm-6"> 
                <h1>Panchachuli View</h1>
                <p>Scrumptious Delicacies From The Land of Natural Beauty</p>
            </div>
            <div class="col-12 col-sm align-self-center">
                <img src="assets/img/panchachuli-trek.jpg" height="400" width="300" class="img-fluid">

            </div>
            <span> <button mdbBtn color="default" class="waves-light" routerLink="/login"   id="loginbtn" mdbWavesEffect>Login</button></span>
            
           
        </div>
    </div>

</header>
<mdb-navbar SideClass="navbar navbar-expand-sm  navbar-dark indigo fixed-top">
    
    <mdb-navbar-brand>
        <a class="navbar-brand mr-auto" href="#"><img src="assets/img/panchachuli-trek.jpg" height="30" width="40"></a>
    </mdb-navbar-brand>
    <links>
        <div class="navbar-nav">
            <a class="nav-item nav-link active waves-light" routerLink="/home" mdbWavesEffect><span class="fa fa-home fa-lg"></span>Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link waves-light" routerLink="/menu" mdbWavesEffect><span class ="fa fa-list fa-lg"></span>Menu</a>
            <a class="nav-item nav-link waves-light" routerLink="/aboutus" mdbWavesEffect><span class="fa fa-info fa-lg"></span>About us</a>
            <a class="nav-item nav-link waves-light" routerLink="/contactus"><span class ="fa fa-address-card fa-lg"></span>Contact Us</a>
            
        
         
        </div>
      
        
        
    </links>
    
</mdb-navbar>


<!--/.Navbar-->

